<div>
    <h1>Edit Your Profile </h1>
    <hr>
    <div class="col-md-4">
      <form autocomplete="off" novalidate [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)">
        <div class="form-group" [ngClass]="{ 'error': !validFirstName() }">
          <label for="firstName">First Name:</label>
          <em *ngIf="!validFirstName()">Required</em>
          <input id="firstName" formControlName="firstName" type="text" class="form-control" placeholder="First Name..." />
        </div>
        <div class="form-group" [ngClass]="{ 'error': !validLastName() }">
          <label for="lastName">Last Name:</label>
          <em *ngIf="!validLastName()">Required</em>
          <input id="lastName" formControlName="lastName" type="text" class="form-control" placeholder="Last Name..." />
        </div>
  
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
      </form>
    </div>
  </div>